{# Enabled Toggle Field Template #}
<label>
	<input type="checkbox" id="air_enabled" name="{{ option_name }}[enabled]" value="1" {{ enabled ? 'checked' : '' }}/>
	{{ __('Automatically rename images on upload', 'ai-image-renamer') }}
</label>
